<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Seriously, we know our craft and we are faithful in it</h2>
                <hr class="light">
                <p class="text-faded">So you have this great idea for a tech startup but don't know were to start? We know the feeling we have been coding for startups since 2008. Growing pains, thrill of the new, success and failures - we've seen them all.</p>
                <a href="#" class="btn btn-default btn-xl">Contact Us!</a>
            </div>
        </div>
    </div>
</section>
